.cart-section {
    margin: 4rem 5rem;
    h1 {
        font-size: 3.2rem;
    }
    .no-items {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            font-size: 2.2rem;
            span {
                color: hsl(205, 70%, 40%);
            }
        }
        .button {
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
    .film-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .border {
            border-bottom: 1px solid hsl(0, 0%, 80%);
        }
        .film-container {
            .cart-item {
                display: flex;
                flex-direction: column;
                .cart-detail {
                    margin: 2rem 35rem 2rem 5rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        border-radius: .6rem;
                        width: 13rem;
                    }
                    .info {
                        text-align: center;
                        h2 {
                            font-size: 2.8rem;
                        }
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .cart-total {
            padding: 2rem;
            border-radius: .5rem;   
            border: 2px solid hsl(0, 0%, 20%);
            width: 100%;
            height: fit-content;
            position: sticky;
            top: 10rem;
            margin: 0 8rem;

            transition: all 240ms ease;
            h2 {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            .total-buttons {
                display: flex;
                justify-content: space-around;
                width: 100%;
                button {
                    padding: .6rem 4rem;
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
        .cart-total:hover {
            box-shadow: 0px 10px 14px -10px rgba(0,0,0,0.75);
        }
    }
}
.modal {
    padding: 3rem;
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    .btn-modal {
        font-size: 1.2rem;
        font-weight: bold;
    }
}