.cart-section {
    margin: 2rem 5rem;
    h1 {
        font-size: 3.2rem;
    }
    .no-items {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            font-size: 2.2rem;
            span {
                color: hsl(205, 70%, 40%);
            }
        }
        .button {
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
    .film-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .border {
            border-bottom: 1px solid hsl(0, 0%, 80%);
        }
        .film-container {
            .cart-item {
                display: flex;
                flex-direction: column;
                .cart-detail {
                    margin: 2rem 35rem 2rem 5rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        border-radius: .6rem;
                        width: 13rem;
                    }
                    .info {
                        text-align: center;
                        h2 {
                            font-size: 2.8rem;
                        }
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .cart-total {
            padding: 1rem;
            border-radius: .5rem;   
            border: 1px solid hsl(0, 0%, 40%);
            width: 100%;
            height: fit-content;
            position: sticky;
            top: 10rem;
            margin: 0 8rem;

            h2 {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}