.container-items {
    margin: 2.4rem;
    h2 {
        text-align: center;
        font-size: 2.5rem;
    }
    .movie-card {
        h2 {
            text-align: start;
        }
    }
    .items {
        display: flex;
    }
}