.operator {
    display: flex;
    align-items: center;
    .btn-count { 
        margin-top: 0 !important;
        font-size: 1rem;
        width: .5rem !important;
    }
    p {
        font-weight: bold;
        font-size: 2rem;
        padding: 0 1rem;
    }
}