.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px -5px 12px 0px rgba(97,97,97,1);
}

.navbar h2 {
  color: rgb(31, 91, 219);
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin: 0 10px;
}